
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/ScriptieOffensiveLanguage.iml
.idea/vcs.xml
LinearSVC/offense2check_DALC_abusive.csv
/BiLSTM/offense2check_DALC_abusive.csv
